<h1>Reports</h1>

<% if(@reports.nil? || @reports.count == 0) %>
  <p>No reports yet.</p>
<% else %>
  <p>The following reports have been submitted:</p>
  <% @reports.each do |report| %>
    <h2>Report: <%= report.id %></h2>
    <ul>
      <li><em>Reporter:</em> <%= report.reporter.nil? ? "nil" : report.reporter.email %> / <%= report.reporter.nil? ? "nil" : report.reporter.phone %></li>
      <li><em>Captured:</em> <%= report.captured %></li>
      <li><em>Submitted:</em> <%= report.submitted %></li>
      <li><em>Category:</em> <%= report.category %></li>
      <li><em>Description:</em> <%= report.description %></li>
      <li><em>Severity:</em> <span style="background: <%= report.severity.downcase %>"><%= report.severity %></span></li>
      <li><em>Location:</em> (<%= report.location.latitude %>, <%= report.location.longitude %>) [<%= report.location.address %>]</li>
      <li><em>Photos:</em> 
              <ul>
              <% @reports.photos.each do |photo| %>
                <li><a href="<%= photo%>"><%= photo.sub(".jpg", ".th.jpg") %></li>
              <% end %>
              </ul>
      </li>
    </ul>

    <h3>Metadata (Class: <%= report.metadata.class %>):</h3>
    <pre>
      <%= report.metadata.inspect %>
    </pre>
  <% end %>
<% end %>

<% if(@reporters.nil? || @reporters.count == 0) %>
  <p>No reporters yet.</p>
<% else %>
  <p>The following individuals have submitted reports:</p>
  <% @reporters.each do |reporter| %>
    <h2>Reporter: <%= reporter.id %></h2>
    <ul>
      <li><em>Email:</em> <%= reporter.email %></li>
      <li><em>Phone:</em> <%= reporter.phone %></li>
    </ul>
  <% end %>
<% end %>


